body {
    margin: 0;
    padding: 0;
    background: white;
    width: 100%;

}

.all{
    display: flex;
    flex-direction: column;
}
.big-img{
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    margin-top: 3em;
    margin-bottom: 8em;

}

.down_portion-main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
    margin-left: 9em;
    margin-right: 9em;
    margin-bottom: 10em;
}
figure{
    margin: 0;
    padding: 0;
}

.down_portion-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;

    margin-top: 5em;
    margin-left: 9em;
    margin-right: 9em;
    margin-bottom: 10em;


    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.down_portion-content-people{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;

    margin-top: 5em;
    margin-left: 15em;
    margin-right: 15em;
    margin-bottom: 10em;


    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
