/*BID IMG */
.big-img-parts{
    display: flex;
    flex-direction: row;
}

.big-img-zone-left{
    display: flex;
    flex-direction: column;
}

.big-img-list1-up{
    display: flex;
    flex-direction: row;
}

.big-img-list1-down{
    margin-top: 16px;
}

.big-img-zone-right{
    display: flex;
    flex-direction: column;
}

.big-img-list2-up{
    margin-bottom: 16px;
}

.big-img-list2-down{
    display: flex;
    flex-direction: row;
}



.text-img{
    margin-top: -2em;
    padding-left: 1em;
    color: #fff;
    text-shadow: 1px 1px 0 #000;
    display: block;
    text-decoration: none;
    font-size: 1.5em;
    font-family: Georgia;
    font-weight: bold;
}

/*TOP NEWS */
.top-news{
    /*display: flex;
    flex-direction: column;*/
    margin-right: 1.5em;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    padding: 1em 1em 1em 1em;
}
.top-news-title{
    font-family: Arial;
    text-align: left;
    text-decoration: underline;
    font-size: 2.5em;
}

.article{
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-content: flex-start;
    align-items: center;
    margin-right: 1em;
    margin-bottom: 1em;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.article-img{
    margin-right: 2em;
    padding: 1em 1em 1em 1em;
}

.article-text{
    color: black;
    text-align: left;
    text-decoration: none;
    font-family: Times New Roman;
    font-size: 1em;
    padding: 1em 1em 1em 1em;
}

.article-title{
    display: flex;
    align-items: flex-start;
    color: black;
    text-align: left;
    text-decoration: none;
    font-family: Times New Roman;
    font-size: 2em;
}

.article-date {
    color: dimgray;
    text-align: left;
    text-decoration: none;
    font-family: Times New Roman;
    font-size: 0.8em;
}
.article-description{
    text-indent: 2em;
    font-family: Times New Roman;
}



/*POOL*/
.pool{
    width: 38em;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    padding: 1em 1em 1em 1em;

}

.pool-title{
    font-family: Arial;
    text-align: left;
    text-decoration: underline;
    font-size: 2.5em;
}

.pool-question{
    color: black;
    text-align: left;
    text-decoration: none;
    font-family: Times New Roman;
    font-size: 1.5em;
}

.pool-question-answers{
    padding: 1em 1em 1em 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pool-button{
    box-sizing:border-box;
    border-radius: 4px;
    background: black;
    border: none;
    padding: 0.8em 1.25em;
    color: white;
    cursor: pointer;
    font-family: Arial;
    display: inline-block;
    font-size: 1.2em;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 1em;
    margin-top: 1em;

}

